<div class="top-row px-4">
    <strong>@Title</strong>
    <a href="https://www.dskjcloud.com/index.html" target="_blank">东盛科技</a>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
