@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <LayoutTitle Title="@Title"></LayoutTitle>
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; } = "服务器监控";
}

